[user]
    name = Daniel Kraemer Aliaga
    email = daniel.aliaga@reason.com.br
[core]
    editor = vim
[color]
    status = always
	ui = auto
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    files = show --name-only
[push]
	default = current
